.grid {
  display: grid;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;

  /* MOBILE FIRST */
  grid-template-columns: 1fr;
}

/* TABLET */
@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
