.wrapper {
  display: flex;
  flex-direction: column; 
  min-height: calc(100vh - 64px);
  padding-top: var(--space-md);
}

.sidebar {
  width: 100%;
  padding: var(--space-md);
  border-bottom: 1px solid var(--card-border);
  position: relative;
  height: auto;
}

.content {
  flex: 1;
  min-width: 0;
  padding: var(--space-md);
}

@media (min-width: 769px) {
  .wrapper {
    flex-direction: row;
  }

  .sidebar {
    width: 25%;
    max-width: 300px;
    border-bottom: none;
    border-right: 1px solid var(--card-border);
    
    position: sticky;
    top: 20px;
    height: fit-content;
    padding: 20px;
  }

  .content {
    padding: 24px;
  }
}