/* MOBILE FIRST */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md) 20px;
  background: var(--background); 
  position: relative;
  border-bottom: 1px solid var(--card-border);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-green);
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

/* Burger button */
.burger {
  font-size: 28px;
  background: none;
  border: none;
  color: var(--foreground);
  cursor: pointer;
  line-height: 1;
}

/* Mobile menu (hidden by default) */
.navLinks {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--background);
  list-style: none;
  padding: 0;
  margin: 0;

  display: none;
  flex-direction: column;
  border-top: 1px solid var(--card-border);

  text-align: center;
  font-size: 20px;

  .navLink {
    border-bottom: 1px solid var(--card-border);
  }

  .navItem a {
    display: block;
    padding: 26px 20px;
    color: var(--foreground);
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      background: var(--card-bg);
      color: var(--accent-green);
    }
  }
}

.navLinks a.isActive {
    color: var(--accent-green);
    font-weight: 600;
}

/* Open state */
.open {
  display: flex;
}

/* DESKTOP */
@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .navLinks {
    position: static;
    display: flex;
    width: auto;
    flex-direction: row;
    gap: 24px;
    background: none;
    border: none;

    .navLink {
      border: none;
    }

    .navItem a {
      padding: 0;

      &:hover {
        background: none;
        color: var(--accent-green);
      }
    }
  }
}